body
	{background-color: #99cc00;
	margin: 0px;
}

.ymbris
	{
		margin:auto;
		width:1000px;
	}

#MasterPealkiri
{
	text-align: center;

	
}

#menu
{
	float: right;
	padding: 0px;
	margin: 0px;
	
}

#menu li
{
	float: right;
	list-style-type: none;	
	margin: 3px;
	
	
}

#menu a
{
	background-color: yellow;
	border-radius: 8px;
	padding: 8px;
	font-family: Helvetica, sans-serif;
	display: inline-block;
	text-decoration: none;		
}

#menu a:hover
{
	background: aquamarine;
	color: darkslategrey;	
}

#menu a:visited
{
	color: #800080;	
}

.sisu
{
	background-color: skyblue;
	clear: both;
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-height: 600px;
	margin-bottom: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	overflow-y: auto;
	
}
h2
{
	text-align: center;
	padding-top: 20px;	
	
}

#tail
{
	margin-top: 0px;
	position: relative;
	padding-top: 0px;
	width: 1000px;
	background-color: green;	
	border-radius: 15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#tail img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 125px;;
	width: auto;
	opacity: 0.3;	

}

.kasutajad img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: auto;
	opacity: 0.8;	

}

.kasutajad
{	
	position: relative;
	display: inline-block;
	float: left;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	margin: 10px;
	padding: 10px;
	
}

.autod
{	
	position: relative;
	display: inline-block;
	float: left;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	margin: 10px;
	padding: 10px;
	
}

.autod img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: auto;
	opacity: 0.8;	

}

#parem
{
	position: absolute;
	bottom: 12px;
	right: 16px;
	text-align: right;
}

#vasak
{
	position: absolute;
	bottom: 12px;
	left: 16px;
	
}


.lebutton
{	
	display: inline-block;
	width: 100px;
	padding: 8px;
	font-family: Helvetica, sans-serif;
	border-radius: 8px;
	border-color: #99cc00;
	border-style: solid;
	background-color: yellow;
	text-align: center;
	margin: 0px;
	text-decoration: none;
}

.lebutton:hover
{
	background: aquamarine;
	color: darkslategrey;	
}

.lebutton:visited
{
	color: #800080;	
}

.nupplisa
{	
	display: block;
	width: 100px;
	padding: 8px;
	font-family: Helvetica, sans-serif;
	border-radius: 8px;
	border-color: #99cc00;
	border-style: solid;
	background-color: yellow;
	text-align: center;
	margin: 0px;
	text-decoration: none;
	
	clear: right;
	
}

.nupplisa:hover
{
	background: aquamarine;
	color: darkslategrey;	
}

.nupplisa:visited
{
	color: #800080;	
}