			</div>
			<div id="tail">
				<p id="vasak">OÜ Karuteene <br>
								Telefon: +372 1234 5678 90<br>
								Epost: <a href="mailto:direktor@karuteene.org">direktor@karuteene.org</a><br>							
								Aadress: Karupoja põik 16, Tallinn <br>
				</p>
 				<img src="pildid/bear.jpg" alt="OÜ Karuteene" />
  				<p id="parem">
  							Nam iaculis,<br>
  				 			tellus et ornare dignissim, <br>
  				 			lorem nulla pretium velit,<br>
  				 			quis euismod lectus erat nec quam
  				</p>
			</div>
		</div>
	</body>
</html>