
			<div class="sisu">
				<h2>Kasutaja lisamine</h2>
				<div id="vorm">
				<form action="lisaKasutaja.html" enctype="multipart/form-data" method="POST">
					<table>
						<tr>
							<td><label for="nimi">Eesnimi: </label></td>
							<td><input type="text" id="nimi" name="Eesnimi" placeholder="Eesnimi"/></td>
						</tr>
						<tr>
							<td><label for="perenimi">Perekonnanimi: </label></td>
							<td><input type="text" id="perenimi" name="autor" placeholder="Perekonnanimi"/></td>
						</tr>
						<tr>
							<td><label for="isikukood">Isikukood: </label></td>
							<td><input type="text" id="isikukood" name="isikukood" placeholder="Isikukood"/></td>
						</tr>
						<tr>
							<td><label for="kasutajanimi">Kasutajanimi: </label></td>
							<td><input type="text" id="kasutajanimi" name="kasutajanimi" placeholder="Kasutajanimi"/></td>
						</tr>
						<tr>
							<td><label for="parool">Parool: </label></td>
							<td><input type="password" id="parool" name="parool" placeholder="Sisesta parool"/></td>
						</tr>
						<tr>
							<td><label for="parooluuesti">Parool teist korda: </label></td>
							<td><input type="password" id="parooluuesti" name="parooluuesti" placeholder="Sisesta parool veel kord!"/></td>
						</tr>
						<tr>
							<td><label for="elukoht">Elukoht: </label></td>
							<td><input type="text" id="elukoht" name="kommentaar" placeholder="Elukoha aadress"/></td>
						</tr>
						<tr>
							<td><label for="KasutajaFoto">Kasutaja portree: </label></td>
							<td><input type="file"  id="KasutajaFoto" name="KasutajaFoto"/></td>
						</tr>
						<tr>
							<td rowspan="2"><label for="KasutajaRoll">Kasutaja roll: </label></td>
							<td><input type="radio" id ="KasutajaRoll" name="KasutajaRoll" value="admin"/>Administraator</td>
							
						</tr>
						<tr>
								<td><input type="radio" name="KasutajaRoll" value="user"/>Kasutaja</td>
						</tr>
					</table>
					<input type="submit" value="Loo kasutaja!"/>
				</form>
				</div>
			
			</div>

