
				<h2>Auto lisamine</h2>
					<div id="vorm">
					<form action="?page=lisaauto" enctype="multipart/form-data" method="POST">
					<table>
						<tr>
							<td><label for="vinkood">Auto tehasekood: </label></td>
							<td><input type="text" id="vinkood" name="vinkood" placeholder="VIN kood"/></td>
						</tr>
						<tr>
							<td><label for="regnum">Auto registreerimisnumber: </label></td>
							<td><input type="text" id="regnum" name="regnum" placeholder="Registreerimisnumber"/></td>
						</tr>
						<tr>
							<td><label for="mark">Auto mark: </label></td>
							<td><input type="text" id="mark" name="mark" placeholder="Auto mark"/></td>
						</tr>
						<tr>
							<td><label for="mudel">Auto mudel: </label></td>
							<td><input type="text" id="mudel" name="mudel" placeholder="Mudel"/></td>
						</tr>
						<tr>
							<td><label for="labisoit">Läbisõit: </label></td>
							<td><input type="number" id="labisoit" name="labisoit" placeholder="999999"/></td>
						</tr>
						<tr>
							<td><label for="AutoFoto">Foto: </label></td>
							<td><input type="file" id="AutoFoto"  name="AutoFoto"/></td>
						</tr>
					</table>
					<input type="submit" value="Lisa auto!"/>
				</form>
				</div>
			<?php if (isset($vead)):?>
					<?php foreach($vead as $viga):?>
						<div style="color:red;"><?php echo htmlspecialchars($viga); ?></div>
					<?php endforeach;?>
			<?php endif;?>